.edicao {
	width:50%;
	height:65%;
	top:35%;
	left:25%;
	padding:25px;
}
.edicao-conteudo {
	background-color:rgba(255,255,255,.75);
	box-shadow:inset 0 0 10px 0 black;
	width:100%;
	height:100%;
	padding:25px;
	outline:none;
	border:none;
	overflow:hidden;
	opacity:1;
	transition:opacity .5s;
}
.edicao-conteudo img {
	margin:10px;
}
.edicao-conteudo:not(edicao-inativo) img:hover {
	box-shadow:0 0 5px black;
	cursor:pointer;
}
.edicao-comRolagem {
	padding-right:42px;
}
.edicao-inativo {
	opacity:.5;
}
.edicao-conteudo:hover {
	overflow:auto;
	padding-right:25px;
}

/* Estilos dos elementos */
h1 {
	margin:0;
	font-size:large;
	font-weight:bold;
	text-decoration:underline;
}
h2 {
	margin:0;
	font-size:large;
	font-weight:bold;
}
h3 {
	margin:0;
	font-size:large;
	font-weight:normal;
	text-decoration:underline;
}
h4 {
	margin:0;
	font-size:large;
	font-weight:normal;
}
h5 {
	margin:0;
	font-size:large;
	font-weight:normal;
	font-style:italic;
}
h6 {
	/* Funciona como um PRE */
    font-family:"Courier New", Courier, monospace;
    white-space: pre;
	margin:1em 0;
	font-size:medium;
	font-weight:normal;
}
