.paginas {
	width:25%;
	height:85%;
	top:15%;
	left:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.pagina {
	background-color:rgba(0,0,0,.5);
	border-radius:20px;
	margin:20px;
	padding:15px;
	cursor:pointer;
}
.pagina:hover {
	background-color:rgba(0,0,0,.25);
}
.pagina-conteudo {
	background-color:rgba(255,255,255,.5);
	height:100%;
	font-size:xx-small;
	padding:10px;
	border:medium transparent solid;
	position:relative;
	overflow:hidden;
}
.pagina-conteudo:hover {
	overflow:auto;
}
.pagina-numero {
	position:absolute;
	top:0;
	right:0;
	padding:3px;
}
.pagina-selecionada > .pagina-conteudo {
	border-color:rgba(0,0,255,.5);
}
.pagina-minimizada > .pagina-conteudo {
	overflow:hidden;
}
.pagina-minimizada {
	height:75px;
}
