/*** botao.css ***/
/* Botão básico */
.botao-vermelho, .botao-verde, .botao-azul, .minibotao-vermelho, .minibotao-verde, .minibotao-azul {
	display:inline-block;
	border:thin #444 solid;
	background-color:gray;
	color:#EEE;
	cursor:pointer;
	background-image:linear-gradient(to top, #333, #666);
	background-image:-webkit-linear-gradient(bottom, #333, #666);
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.botao-vermelho, .botao-verde, .botao-azul {
	padding:0 15px;
	line-height:30px;
	border-radius:10px;
	font-size:medium;
}
.minibotao-vermelho, .minibotao-verde, .minibotao-azul {
	padding:0 10px;
	font-size:small;
	border-radius:7px;
	line-height:18px;
}
.botao-inativo {
	color:#999;
	cursor:default;
	background-image:linear-gradient(to top, #444, #555);
	background-image:-webkit-linear-gradient(bottom, #444, #555);
}
.botao-vermelho:not(.botao-inativo):hover, .minibotao-vermelho:not(.botao-inativo):hover {
	color:#FFF;
	border:thin #644 solid;
	background-image:linear-gradient(to top, #533, #966);
	background-image:-webkit-linear-gradient(bottom, #533, #966);
}
.botao-verde:not(.botao-inativo):hover, .minibotao-verde:not(.botao-inativo):hover {
	color:#FFF;
	border:thin #464 solid;
	background-image:linear-gradient(to top, #353, #696);
	background-image:-webkit-linear-gradient(bottom, #353, #696);
}
.botao-azul:not(.botao-inativo):hover, .minibotao-azul:not(.botao-inativo):hover {
	color:#FFF;
	border:thin #446 solid;
	background-image:linear-gradient(to top, #335, #669);
	background-image:-webkit-linear-gradient(bottom, #335, #669);
}
.botao-vermelho:not(.botao-inativo):active, .minibotao-vermelho:not(.botao-inativo):active,
.botao-vermelho.botao-ativo:not(:hover), .minibotao-vermelho.botao-ativo:not(:hover) {
	background-image:linear-gradient(to top, #855, #644);
	background-image:-webkit-linear-gradient(bottom, #855, #644);
}
.botao-verde:not(.botao-inativo):active, .minibotao-verde:not(.botao-inativo):active,
.botao-verde.botao-ativo:not(:hover), .minibotao-verde.botao-ativo:not(:hover) {
	background-image:linear-gradient(to top, #585, #464);
	background-image:-webkit-linear-gradient(bottom, #585, #464);
}
.botao-azul:not(.botao-inativo):active, .minibotao-azul:not(.botao-inativo):active,
.botao-azul.botao-ativo:not(:hover), .minibotao-azul.botao-ativo:not(:hover) {
	background-image:linear-gradient(to top, #558, #446);
	background-image:-webkit-linear-gradient(bottom, #558, #446);
}

/* Botão 2 */
.botao2 {
	display:inline-block;
	font-size:0;
}
.botao2:after {
	content:"x";
	height:0;
	position:absolute;
	width:0;
	overflow:hidden;
	clear:both;
}
.botao2Esq, .botao2Dir {
	font-size:medium;
	display:inline-block;
	border-color:#444;
	border-style:solid;
	background-color:gray;
	color:#EEE;
	background-image:linear-gradient(to top, #333, #666);
	background-image:-webkit-linear-gradient(bottom, #333, #666);
	cursor:pointer;
	line-height:30px;
}
.botao2Esq {
	padding:0 5px 0 15px;
	border-width:thin 0 thin thin;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.botao2Dir {
	padding:0 10px 0 5px;
	border-width:thin thin thin 0;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.botao2:hover > * {
	color:#FFF;
	border-color:#446;
	background-image:linear-gradient(to top, #335, #669);
	background-image:-webkit-linear-gradient(bottom, #335, #669);
}
.botao2:active > * {
	background-image:linear-gradient(to top, #558, #446);
	background-image:-webkit-linear-gradient(bottom, #558, #446);
}
.botao2Dir:hover {
	background-image:linear-gradient(to top, #446, #77B);
	background-image:-webkit-linear-gradient(bottom, #446, #77B);
}
.botao2Dir:active {
	background-image:linear-gradient(to top, #669, #335);
	background-image:-webkit-linear-gradient(bottom, #669, #335);
}
/*** menu.css ***/
.menu {
	width:100%;
	height:15%;
	top:0;
	left:0;
	font-size:0;
}
.menuBotao {
	position:relative;
	top:20px;
	margin-left:50px;
}
.submenu, .submenu-pequeno {
	position:absolute;
	z-index:2;
	background-image:url(debut_dark.png);
	box-shadow:3px 3px 5px black;
	border-radius:10px;
	overflow:hidden;
}
.submenu-pequeno {
	border-radius:5px;
	font-size:small;
}
.submenu-item {
	cursor:pointer;
	padding:5px;
	background-color:rgba(255,255,255,.5);
	margin:5px;
	border-radius:5px;
}
.submenu-item-desabilitado {
	cursor:default;
	color:#666;
}
.submenu-pequeno > .submenu-item {
	padding:3px;
	margin:3px;
	border-radius:3px;
}
.submenu-item:not(.submenu-item-desabilitado):hover {
	background-color:rgba(255,255,255,.75);
}
.submenu-atalho {
	font-size:smaller;
	color:#333;
}
.submenu-divisoria {
	border:thin gray solid;
}

/*** janela.css ***/
/* Janela */
.fundoJanela {
	background-color:rgba(75,75,75,.5);
	position:absolute;
	top:0;
	height:100%;
	left:0;
	width:100%;
	z-index:3;
}
.janela, .janelaMenor, .janelaMaior, .janelaCarregando {
	background-image:url(debut_dark.png);
	box-shadow:0 0 10px black;
	position:absolute;
	z-index:4;
}
.janela {
	top:20%;
	height:60%;
	left:20%;
	width:60%;
}
.janelaMenor {
	top:25%;
	height:50%;
	left:25%;
	width:50%;
}
.janelaMaior {
	top:15%;
	height:70%;
	left:15%;
	width:70%;
}
.janela-titulo {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:10%;
	color:white;
	padding:5px 25px;
	font-size:x-large;
}
.janela-fechar {
	position:absolute;
	top:10px;
	right:10px;
}
.janela-barra {
	position:absolute;
	top:10%;
	left:0;
	width:25%;
	height:90%;
	padding-top:10px;
}
.janela-painel {
	position:absolute;
	padding:10px;
	top:10%;
	left:25%;
	width:75%;
	height:90%;
}
.janela-painel-conteudo {
	position:relative;
	background-color:rgba(255,255,255,.5);
	height:100%;
	overflow:auto;
	padding:10px;
}
.janela-lista {
	background-color:rgba(255,255,255,.5);
	padding:5px;
	margin:10px;
	cursor:pointer;
}
.janela-lista:hover {
	background-color:rgba(255,255,255,.75);
}
.janela-lista-selecionado {
	margin-right:-10px;
	padding-left:25px;
}

/* Lista de arquivos recentes */
.janela-listaRecente {
	position:relative;
	margin:10px 0;
	background-color:rgba(255,255,255,.5);
	display:inline-block;
	width:80%;
	padding:5px;
	cursor:pointer;
}
.janela-listaRecente:hover {
	background-color:rgba(255,255,255,.75);
}
.janela-listaRecente:hover > .janela-listaRecente-excluir,
.janela-listaRecente:hover > .janela-listaRecente-baixar {
	display:inline-block;
}
.janela-listaRecente-excluir {
	position:absolute;
	right:10px;
	display:none;
}
.janela-listaRecente-baixar {
	position:absolute;
	right:50px;
	display:none;
}
.janela-listaRecente-modificado {
	color:#333;
	font-size:small;
}

/* Janela imagem */
.janelaImagem-conteudo {
	background-color:rgba(255,255,255,.5);
	position:absolute;
	padding:25px;
	top:10%;
	left:5%;
	width:90%;
	height:85%;
	overflow:auto;
}
.janelaImagem-botoes {
	margin-bottom: 25px;
}
.janelaImagem-confirmar {
	float:right;
}

/* Janela básica */
.janelaBasica-conteudo {
	background-color:rgba(255,255,255,.5);
	position:absolute;
	padding:25px;
	top:17%;
	left:5%;
	width:90%;
	height:76%;
	overflow:auto;
}
.janelaBasica-cancelar {
	position:absolute;
	bottom:10px;
	left:10px;
}
.janelaBasica-confirmar {
	position:absolute;
	bottom:10px;
	right:10px;
}

/* Janela de aviso de carregando */
.janelaCarregando {
	top:40%;
	left:40%;
	height:20%;
	width:20%;
	padding:30px;
	z-index:6;
	border-radius:10px;
}
.janelaCarregando-fundo {
	z-index:5;
}
.janelaCarregando-conteudo {
	background-color:rgba(255,255,255,.5);
	text-align:center;
	padding:20px;
	width:100%;
	height:100%;
}

/*** aba.css ***/
/* Abas */
.aba {
	background-image:linear-gradient(to top, #333, #666);
	background-image:-webkit-linear-gradient(bottom, #333, #666);
	position:absolute;
	bottom:0;
	border:thin #444 solid;
	background-color:gray;
	color:#EEE;
	cursor:pointer;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	font-size:small;
	padding:3px;
	transition:width .5s, left .5s, opacity .5s;
	-webkit-transition:width .5s, left .5s, opacity .5s;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}

.aba:hover {
	color:#FFF;
	border:thin #448 solid;
	background-image:linear-gradient(to top, #335, #669);
	background-image:-webkit-linear-gradient(bottom, #335, #669);
}

.aba-foco {
	color:#FFF;
	border:thin #448 solid;
	background-image:linear-gradient(to top, #558, #446);
	background-image:-webkit-linear-gradient(bottom, #558, #446);
}

.aba-nome {
	display:inline-block;
	width:calc(100% - 25px);
	width:-webkit-calc(100% - 25px);
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.aba-fechar {
	font-size:x-small;
	vertical-align:top;
	float:right;
	background:none;
	padding:0 3px;
	border-color:transparent;
}

.aba-mais {
	width:30px;
	text-align:center;
}

.aba-mais:hover {
	border:thin #484 solid;
	background-image:linear-gradient(to top, #353, #696);
	background-image:-webkit-linear-gradient(bottom, #353, #696);
}
/*** paginas.css ***/
.paginas {
	width:25%;
	height:85%;
	top:15%;
	left:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.pagina {
	background-color:rgba(0,0,0,.5);
	border-radius:20px;
	margin:20px;
	padding:15px;
	cursor:pointer;
}
.pagina:hover {
	background-color:rgba(0,0,0,.25);
}
.pagina-conteudo {
	background-color:rgba(255,255,255,.5);
	height:100%;
	font-size:xx-small;
	padding:10px;
	border:medium transparent solid;
	position:relative;
	overflow:hidden;
}
.pagina-conteudo:hover {
	overflow:auto;
}
.pagina-numero {
	position:absolute;
	top:0;
	right:0;
	padding:3px;
}
.pagina-selecionada > .pagina-conteudo {
	border-color:rgba(0,0,255,.5);
}

/*** indices.css ***/
.indices {
	width:25%;
	height:55%;
	top:15%;
	right:0;
}
.indice1, .indice2, .indice3, .indice4, .indice5 {
	background-color:rgba(255,255,255,.5);
	border-radius:5px;
	padding:3px;
	margin:5px 0;
	cursor:pointer;
	position:relative;
	border:3px transparent solid;
}
.indice1:hover, .indice2:hover, .indice3:hover, .indice4:hover, .indice5:hover {
	background-color:rgba(255,255,255,.75);
}
.indice-selecionado {
	border-color:rgba(0,0,255,.5);
}
.indice2 {
	left:15%;
	width:85%;
}
.indice3 {
	font-size:small;
	left:30%;
	width:70%;
}
.indice4 {
	font-size:small;
	left:45%;
	width:55%;
}
.indice5 {
	font-size:x-small;
	left:60%;
	width:40%;
}

/*** anexos.css ***/
.anexos {
	width:25%;
	height:30%;
	top:70%;
	right:0;
}
.anexo {
	background-color:rgba(255,255,255,.5);
	border-radius:5px;
	padding:3px;
	margin:5px 0;
	cursor:pointer;
	position:relative;
	border:3px transparent solid;
}
.anexo:hover {
	background-color:rgba(255,255,255,.75);
}
.anexo-selecionado {
	border-color:rgba(0,0,255,.5);
}

/*** ferramentas.css ***/
.ferramentas {
	width:50%;
	height:20%;
	top:15%;
	left:25%;
}
.ferramentas-mascara {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ferramentas-conteudo {
	opacity:.5;
	transition:opacity .5s;
}
.ferramentas-linha1 {
	display:table;
	border-spacing:5px;
	table-layout:fixed;
	width:100%;
	height:50%;
}
.ferramentas-linha2 {
	position:absolute;
	width:100%;
	height:50%;
	bottom:0;
	left:0;
	color:white;
}
.ferramentas-linha2-parte1,
.ferramentas-linha2-parte2 {
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	text-align:center;
	padding:10px;
}
.ferramentas-linha2-parte1 {
	left:0;
}
.ferramentas-linha2-parte2 {
	left:50%;
}
.ferramenta {
	background-color:rgba(255,255,255,.5);
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	border:3px transparent solid;
	padding:3px;
}
.ferramenta > * {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0;
}
.ferramenta:hover {
	background-color:rgba(255,255,255,.75);
}
.ferramenta-selecionada {
	border-color:rgba(0,0,255,.5);
}
.ferramentas-grupoAlinhamento {
	display:inline-block;
	font-size:0;
}
.alinhar-esquerda {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right-color:transparent;
}
.alinhar-centro {
	border-radius:0;
	border-right-color:transparent;
	border-left-color:transparent;
}
.alinhar-direita {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:transparent;
}
.caracteres {
	padding:5px;
}
.caracteres td {
	text-align:center;
	background-color:rgba(255,255,255,.5);
	cursor:pointer;
	border-radius:3px;
	padding:3px;
	font-size:large;
	font-family:"Courier New", Courier, monospace;
}
.caracteres td:hover {
	background-color:rgba(255,255,255,.75);
}
.desfazer {
	margin-right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right-color:transparent;
}
.refazer {
	margin-left:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:transparent;
}

/*** edicao.css ***/
.edicao {
	width:50%;
	height:65%;
	top:35%;
	left:25%;
	padding:25px;
}
.edicao-conteudo {
	background-color:rgba(255,255,255,.75);
	box-shadow:inset 0 0 10px 0 black;
	width:100%;
	height:100%;
	padding:25px;
	outline:none;
	border:none;
	overflow:hidden;
	opacity:1;
	transition:opacity .5s;
}
.edicao-conteudo img {
	margin:10px;
}
.edicao-conteudo:not(edicao-inativo) img:hover {
	box-shadow:0 0 5px black;
	cursor:pointer;
}
.edicao-comRolagem {
	padding-right:42px;
}
.edicao-inativo {
	opacity:.5;
}
.edicao-conteudo:hover {
	overflow:auto;
	padding-right:25px;
}

/* Estilos dos elementos */
h1 {
	margin:0;
	font-size:large;
	font-weight:bold;
	text-decoration:underline;
}
h2 {
	margin:0;
	font-size:large;
	font-weight:bold;
}
h3 {
	margin:0;
	font-size:large;
	font-weight:normal;
	text-decoration:underline;
}
h4 {
	margin:0;
	font-size:large;
	font-weight:normal;
}
h5 {
	margin:0;
	font-size:large;
	font-weight:normal;
	font-style:italic;
}
h6 {
	/* Funciona como um PRE */
    font-family:"Courier New", Courier, monospace;
    white-space: pre;
	margin:1em 0;
	font-size:medium;
	font-weight:normal;
}

/*** painel.css ***/
.painel-botoes {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:30px;
	text-align:right;
	padding:5px;
	z-index:1;
}
.painel-titulo {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:30px;
	text-align:center;
	padding:5px;
	color:white;
	font-size:medium;
	background-color:rgba(0,0,0,.5);
}
.painel-conteudo {
	position:absolute;
	top:30px;
	left:0;
	width:100%;
	height:calc(100% - 30px);
	height:-webkit-calc(100% - 30px);
	overflow:hidden;
	padding:5px;
}
.painel-comRolagem {
	padding-right:22px;
}
.painel-conteudo:hover {
	overflow:auto;
	padding-right:5px;
}

/*** layout.css ***/
* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	position:relative;
}
body {
	background-image:url(type.png);
	font-family:Verdana, Geneva, sans-serif;
	font-size:medium;
}
.menu, .paginas, .ferramentas, .edicao, .indices, .anexos {
	box-shadow:0 0 10px 3px rgba(0,0,0,.75);
	position:absolute;
}

@media all and (max-width: 1100px) {
	.painel-titulo {
		text-align:left;
		padding-left:25px;
	}
	.ferramentas-tituloGrupo {
		font-size:0;
	}
	.ferramenta {
		border-radius:3px;
		border-width:2px;
		padding:2px;
	}
	.pagina {
		border-radius:15px;
		margin:15px;
		padding:10px;
	}
}

@media all and (max-height: 600px) {
	.painel-conteudo {
		height:100%;
		top:0;
		padding-top:30px;
	}
	.painel-titulo {
		display:none;
	}
	.painel-botoes {
		padding-right:25px;
	}
	.ferramentas > .painel-conteudo {
		padding-top:5px;
	}
	.menuBotao {
		top:10px;
	}
}
